// @import "bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap/scss/bootstrap";

// Colors
$primary-color: #f2f1df;
$secondary-color: #147683;

// Typography
$base-font-size: 16px;
$light-font-color: #ffffff;
$dark-font-color: #000000;
$heading-font-family: "Raleway", sans-serif;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  background-color: $primary-color;
  color: $light-font-color;
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
  color: white;
}
button {
  border: none;
  cursor: pointer;
  border-radius: 40px;
}

//ANIMATIONS
@keyframes appendFromLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes appendFromRight {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes appendFromBottom {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  40% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes appendFromTop {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  40% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slowReveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//NAVIGATION
nav {
  display: flex;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: $primary-color;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.3);

  img {
    width: 153px;
  }
  button {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 1em 1.5em;
  }
  img:hover {
    cursor: pointer;
  }
}
//FLOATING BUTTON
.floating_div {
  .floating_button {
    position: fixed;
    z-index: 999;
    bottom: 25px;
    right: 40px;
    background-color: $secondary-color;
    display: flex;
    border: solid 3px $primary-color;
    padding: 0.5em;
    img {
      width: 3em;
      height: 3em;
    }
    .image-animation {
      animation: fadeInOut 1s ease-in-out;
    }
  }
  .social_list {
    display: none;
    position: fixed;
    z-index: 999;
    right: 40px;
    bottom: 80px;
  }
}

.social_list-opened {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  position: fixed;
  z-index: 999;
  right: 40px;
  bottom: 100px;

  animation: appendFromRight 2s ease-in-out both;

  a {
    display: flex;
    background-color: $secondary-color;
    border-radius: 20px;
    padding: 0.5em;
    align-items: center;
    column-gap: 1em;
  }
}

//INTRO
.intro {
  background: url("./assets/intro_bg.png") center no-repeat;
  background-size: cover;
  height: 720px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -999;

  font-size: 48px;
  h1 {
    font-size: clamp(0.1em, 80px, 180px);
    animation: appendFromLeft 2s ease-in-out both;
    // animation-timeline: view();
  }
  button {
    position: absolute;
    bottom: 2em;
    left: 2em;

    background-color: $primary-color;
    color: $dark-font-color;
    padding: 1em 1.5em;
    animation: appendFromLeft 2s ease-in-out both;
  }
}

//MAIN 1
.main_1 {
  color: $dark-font-color;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  align-items: center;
  position: relative;
  height: 100vh;

  .main1_image {
    width: 650px;
    left: 0;
    animation: slowReveal 1s ease-in-out both;
    animation-timeline: view();
  }
  .text_cont {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 40%;
    text-align: right;

    animation: appendFromRight 2s ease-in-out;
    animation-timeline: view();

    h3 {
      font-size: 35px;
      font-weight: normal;
    }
  }
  .div25 {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
  }
  .div50 {
    position: absolute;
    bottom: -25%;
    left: 0;
  }
}

//MAIN 2
.main_2 {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  color: $dark-font-color;
  justify-content: space-between;
  align-items: center;
  .main2_img {
    position: absolute;
  }
  h2 {
    font-size: 35px;
    font-weight: normal;
  }

  .adv_group {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./assets/main2_bg.png") center no-repeat;
    background-size: 60%;
    height: 90%;
    width: 70%;

    .adv_group_piece {
      display: flex;
      animation: appendFromTop 2s ease-in-out both;
      animation-timeline: view();

      .adv_group_piece_textbox {
        p {
          opacity: 0;
        }
        p:hover {
          opacity: 1;
          transition: all 1s ease-in-out;
        }
      }
    }
    .adv_group_piece:nth-child(even) {
      margin-top: 232px;
      align-items: flex-end;
      animation: appendFromBottom 2s ease-in-out both;
      animation-timeline: view();
    }
    &::after {
      content: "";
      position: absolute;
      top: 58%;
      width: 80%;
      height: 3px;
      border-radius: 40px;
      background-color: #ccc; // Color of the line
      z-index: -1;
    }
  }
}

//MAIN3
.main_3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $dark-font-color;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .main_3-bgimage {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 35px;
    font-weight: normal;
  }
  .services_block {
    display: flex;

    width: 50%;
    justify-content: space-between;
    .services_column-right {
      animation: appendFromRight 2s ease-in-out both;
      animation-timeline: view();
    }
    .services_column-left {
      animation: appendFromLeft 2s ease-in-out both;
      animation-timeline: view();
    }
    .services_column {
      display: flex;
      flex-direction: column;
      row-gap: 2em;
      width: 40%;

      .services_column_piece {
        display: flex;
        align-items: flex-start;
        column-gap: 1em;

        .services_column_piece_textbox {
          display: flex;
          flex-direction: column;

          h4 {
            font-size: 0.9em;
          }
          p {
            font-size: 0.8em;
          }
        }
      }
      .services_column_piece::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(255, 126, 95, 0.5),
          rgba(254, 180, 123, 0.5)
        );
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index: -1;
      }
    }
  }
}
//FORM SECTION
.form_section {
  position: relative;
  display: flex;
  color: $dark-font-color;
  justify-content: center;
  align-items: center;
  padding: 2em;
  .form_textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6em;
    width: 30%;
  }
}
//FOOTER
footer {
  background-color: $secondary-color;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .footer_logobox {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    img {
      width: 150px;
    }
  }
  .footer_infobox {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    h3 {
      font-weight: normal;
    }
    .infobox_contacts {
      display: flex;
      width: 100%;
      column-gap: 2em;
      .contacts_column {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 50%;
        .contacts_piece {
          display: flex;
          column-gap: 1em;
          img {
            width: 1.5em;
            height: 1.5em;
          }
          .contacts_piece_textbox {
          }
        }
      }
    }
  }

  .footer_socialbox {
    .socialbox_row {
      display: flex;
      column-gap: 1em;
    }
  }
}
